<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @post %>

  <%= link_to "Edit this project", edit_post_path(@post) %> |
  <%= link_to "Back to projects", posts_path %>

  <%= button_to "Delete this project", @post, method: :delete %>
</div>
